<% if @message.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@message.errors.count, "error") %> prohibited this repa from being saved:</h2>

    <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@message) do |f| %>

  <%= f.number_field :dest_id %>

  <%= f.text_field :message %>

  <%= f.submit "Envoyer" %>
<% end %>
