<div class="container">
  <p>Bienvenue sur votre espace <%= current_user.prenom %></p>
  <div class="row">
  <div class="col-lg-3">

  </div>
  <div class="col-lg-9 bkg-light-grey">
    <h3>Vos repas</h3>
    <div class="container index-repas">
      <% @repas.each do |repa| %>
          <div class="row repas">
            <div class="col-lg-12 bkg-light-grey no-padding flex">
              <div class="col-lg-2 bkg-med-grey img-repas">
              </div>
              <div class="col-lg-3 p-15">
                    <h2><%= repa.titre %></h2>
                    <p class="sous-titre">chez <%= repa.user.prenom %></p>
                    <p class="font-dark-grey no-margin-b"><%= repa.menu %><p>
                    <%= link_to 'voir plus...', repa, :class => 'repas-show' %>
                    <% if current_user.id == repa.id %>
                      <%= link_to 'Edit', edit_repa_path(repa) %>
                    <% end %>
              </div>
              <div class="col-lg-3 p-15 font-dark-grey">
                <p>à <%= repa.user.ville %> le <%= repa.date.strftime("%d/%m/%y") %></p>
              </div>
              <div class="col-lg-2 flex-center">
                <span class="price">7€</span>
              </div>
              <div class="col-lg-2 bkg-violet flex-center font-white resbutton">
                <a href= "/repas" class="flex-center">
                  <p>Réserver</p>
                </a>
              </div>
            </div>
          </div>
      <% end %>
      <%= link_to 'Modifier mes informations', edit_user_registration_path %>
    </div>
  </div>
</div>
</div>
