<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row repas-container">
        <div class="col-lg-7 bkg-light-grey repas-show-container">
            <div class="row repas-infos-2">
                <div class="col-lg-3 bkg-dark-grey image-repas-show" style="background: url('<%= @repa.image.url %>'); padding:0;"></div>
                  <div class="col-lg-9 repas-infos">
                    <p>Prix :
                        <%= @repa.prix %>€</p>
                    <p>Date :
                        <%= @repa.date.strftime("%d/%m/%y") + " à " + @repa.date.strftime("%Hh%M")+"." %></p>
                    <p>
                        <%= "Repas composé de : " + @repa.menu%>
                    </p>
                    <% if @repa.menu == "Plat seulement" %>
                    <p>
                        <%= @repa.plat ? "Plat : " + @repa.plat : nil %>
                    </p>
                    <% elsif @repa.menu == "Entrée + Plat" %>
                    <p>
                        <%= @repa.entree ? "Entrée : "+@repa.entree : nil %>
                    </p>
                    <p>
                        <%= @repa.plat ? "Plat : " +@repa.plat : nil %>
                    </p>
                    <% elsif @repa.menu == "Plat + Dessert" %>
                    <p>
                        <%= @repa.plat ? "Plat : " +@repa.plat : nil %>
                    </p>
                    <p>
                        <%= @repa.dessert ? "Dessert : " +@repa.dessert : nil %>
                    </p>
                <% else @repa.menu == "Entrée + Plat + Dessert" %>
                    <p>
                        <%= @repa.entree ? "Entrée : " +@repa.entree : nil %>
                    </p>
                    <p>
                        <%= @repa.plat ? "Plat : " + @repa.plat : nil %>
                    </p>
                    <p>
                        <%= @repa.dessert ? "Dessert : " + @repa.dessert : nil %>
                    </p>
                    <% end %>
                    <% if current_user.id == @repa.user_id %>
                    <%= link_to 'Modifier mon repas', edit_repa_url(@repa), :class => "btn-paupiette edit-repas" %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-lg-5 vertical-center flex-columns">
            <p>Ce repas se passe chez:</p>
            <div class="avatar" style="background: url(<%= @user.image.url %>)"></div>
            <p><%= @user.prenom %>
                <% if Participation.find_by(repa_id: @repa.id, user_id: current_user.id)%>
                <% if Participation.find_by(repa_id: @repa.id, user_id: current_user.id).is_valid == true %>
                <%= @user.nom %>
                <p>Description:
                    <%= @user.description %></p>
                <% end %>
                <% end %></p>
            <% if Participation.find_by(repa_id: @repa.id, user_id: current_user.id)%>
            <% if Participation.find_by(repa_id: @repa.id, user_id: current_user.id).is_valid == true %>
            <p>Telephone:
                <%= @user.telephone %></p>
            <p>Adresse:
                <%= @user.numero_rue %>
                <%= @user.rue %>
                <%= @user.code_postal %>
                <%= @user.ville %></p>
            <p>Description:
                <%= @user.description %></p>
            <% end %>
            <% end %>
        </div>
    </div>
</div>

<% if current_user.id == @repa.user_id && @repa.participations.count != 0 %>

<div class="container">
    <h3>Ils participent à ce repas:
    </h3>
    <ul>
        <% @participations.each do |participation| %>
        <% user = User.find(participation.user_id) %>
        <li class="flex m-t-10 align-center">
            <div class="mini-avatar" style="background: url('<%= user.image.url %>')"></div>
            <%= user.nom %>
            <%= user.prenom %>
            <%= link_to "Nouveau message" , new_messages_path(:user_id => user.id) , :class => "btn-paupiette", style: "margin-left:30px"%></li>
        <% end %>
        <% end %>
    </ul>
</div>
