<p id="notice"><%= notice %></p>
<% case @repa.menu
when "1"
  formule = "Plat seulement"
when "2"
  formule = "Entrée + Plat"
when "3"
  formule = "Plat + Dessert"
when "4"
  formule = "Entrée + Plat + Dessert"
end %>
<div class="container">
  <div class="row">
  <div class="col-lg-7 bkg-light-grey">
    <div class="row">
    <div class="col-lg-3 bkg-dark-grey image-repas-show" style="background: url('<%= @repa.image.url %>')">

    </div>
    <div class="col-lg-9">
      <p>Prix: <%= @repa.prix %>€</p>
      <p>Date: <%= @repa.date.strftime("%d/%m/%y") %></p>
      <p>Repas composé de : <%= @repa.menu %> </p>

      <% if @repa.menu == "Plat seulement" %>
        <p>Plat : <%= @repa.plat %> </p>
      <% elsif @repa.menu == "Entrée + Plat" %>
        <p>Entrée : <%= @repa.entree %> </p>
        <p>Plat : <%= @repa.plat %> </p>
      <% elsif @repa.menu == "Plat + Dessert" %>
        <p>Plat : <%= @repa.plat %> </p>
        <p>Dessert : <%= @repa.dessert %> </p>
      <% else @repa.menu == "Entrée + Plat + Dessert" %>
        <p>Entrée : <%= @repa.entree %> </p>
        <p>Plat : <%= @repa.plat %> </p>
        <p>Dessert : <%= @repa.dessert %> </p>
      <% end %>
    </div>
  </div>
  </div>
  <div class="col-lg-5 vertical-center flex-columns">
    <p>Ce repas se passe chez:</p>
    <div class="avatar" style="background: url(<%= @user.image.url %>)">

    </div>
    <p><%= @user.prenom %> <%= @user.nom %></p>
  </div>
</div>
</div>
<% if current_user.id == @repa.user_id%>
<div class="container">
  <h3>Ils participent à ce repas: </h3>
  <ul>
  <% @participations.each do |participation| %>
    <% user = User.find(participation.user_id) %>
    <li class="flex m-t-10 align-center"><div class="mini-avatar" style="background: url('<%= user.image.url %>')"></div><%= user.nom %> <%= user.prenom %> <%= link_to "Nouveau message" , new_messages_path(:user_id => user.id) , :class => "btn-paupiette"%></li>
  <% end %>
</ul>
</div>
<% end %>


<%= link_to 'Back', repas_path %>
