<section class="home header-home">
  <section class="home1" style="background: url('<%= image_url('image_repas.png') %>')">
  <div class="container">
    <div class="inner-container-left">
      <div class="baseline col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="baseline-firstline">
          Ce <strong>midi</strong>,
        </div>
        <div class="baseline-secondline">
          c'est chez <strong class="font-playlist">Mamie</strong> !
        </div>
        <h2 class="soustitre">Paupiette réunit séniors et étudiants le temps d’un déjeuner, autour d’un bon petit plat !</h2>
        <% if !user_signed_in? %>
        <div class="singin">
              <%= link_to "Je suis hôte", new_user_registration_path(:role => true), :class => "cuisine bkg-violet font-white" %>
              <%= link_to "Je suis convive", new_user_registration_path(:role => false), :class => "glouton bkg-violet font-white"%>
        <% end %>

      </div>
      </div>
    </div>
  </div>
</section>
<section class="les-copains">
  <h3 class="text-center selfs playlist">Vos derniers selfies</h3>
  <div class="container lessrabs">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 m-t-15">
        <div class="bkg-light-grey p-15">
          <div class="selfie" style="background: url('<%= image_url('selfie1.png') %>')">

          </div>
          <h4 class="playlist text-center m-t-10">Béatrice et Marie</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 m-t-15">
        <div class="bkg-light-grey p-15">
          <div class="selfie" style="background: url('<%= image_url('selfie2.png') %>')">

          </div>
          <h4 class="playlist text-center m-t-10">Béatrice et Camille</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 m-t-15">
        <div class="bkg-light-grey p-15">
          <div class="selfie" style="background: url('<%= image_url('selfie3.png') %>')">

          </div>
          <h4 class="playlist text-center m-t-10">Jean-Luc et sa team</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 m-t-15">
        <div class="bkg-light-grey p-15">
          <div class="selfie" style="background: url('<%= image_url('selfie4.png') %>')">

          </div>
          <h4 class="playlist text-center m-t-10">Marie</h4>
        </div>
      </div>
    </div>

  </div>
</section>
<div class="container">
</div>
<section>
  <div class="container-fluid bkg-light-grey">
  <div class="container explication">
    <div class="row vertical-center">
    <div class="offset-lg-2 col-lg-8 col-md-12 vertical-center flex-columns padding-mission">
      <h3 class="playlist">Notre mission</h3>
      <p class="text-center">Nous luttons contre la solitude des séniors tout en proposant un repas complet à prix accessible aux étudiants.</p>
    </div>
  </div>
</div>
  </div>
  <div class="container-fluid bkg-white">
  <div class="container explication padding-mission">
  <div class="row">
    <div class="col-lg-6">
      <img src="<%= image_url('green-rectangle.svg') %>" alt="">
    </div>
    <div class="col-lg-6">
      <img src="<%= image_url('pink-rectangle.svg') %>" alt="">
    </div>
  </div>
</div>
  </div>
  <div class="container-fluid bkg-light-grey">
  <div class="container explication">
    <div class="row">
    <div class="col-lg-12 vertical-center flex-columns padding-mission">
      <ol class="list-explication">
        <li><h4>Proposez</h4><p>Vous annoncez en amont vos critères</p></li>
        <li><h4>Confirmez</h4><p>La mise en relation est validée</p></li>
        <li><h4>Accueillez</h4><p>Accueillez les étudiants à votre domicile</p></li>
      </ol>
    </div>
  </div>
</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 padding-mission">
        <h3 class="playlist text-center">Ils parlent de nous</h3>
        <div class="les-partenaires">
          <%= image_tag 'medias/part1.png' %>
          <%= image_tag 'medias/part2.png' %>
          <%= image_tag 'medias/part3.svg' %>
          <%= image_tag 'medias/part4.png' %>
          <%= image_tag 'medias/part5.png' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 la-fame" style="background : url('<%= image_url('lacite.jpg') %>')">

      </div>
      <div class="col-lg-12 text-center fs-30 m-t-10">
        <p>Gourmandises, rires et partage garantis !</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 padding-partenaires">
        <h3 class="playlist text-center">Ils parlent de nous</h3>
        <div class="les-partenaires">
          <%= image_tag 'partenaires/part1.png' %>
          <%= image_tag 'partenaires/part2.gif' %>
          <%= image_tag 'partenaires/part3.jpg' %>
          <%= image_tag 'partenaires/part4.png' %>
          <%= image_tag 'partenaires/part5.png' %>
        </div>
      </div>
    </div>
    <div class="line">

    </div>
  </div>
</section>
</section>
