<h1>Gérer les participations aux repas</h1>

<ul>
  <%= @participations.each do |part| %>
      <li>
        <%= User.find(part.user_id).prenom %> participe au repas "<%= Repa.find(part.repa_id).titre %>" chez <%= User.find(part.repa.user_id).prenom %>, prévu le <%= Repa.find(part.repa_id).date.strftime("%d/%m/%y") %> =
        <%= link_to "Supprimer", repa_participation_path(part.id), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }  %>
      </li>
  <% end %>
<ul>
